@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(to right, #9ba9b2, #eef2f3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    width: 400px;
    box-shadow: 0 0 10px 5px #6c6b6b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}

nav .searchBar {
    display: flex;
}

nav div input {
    padding: 0 1rem;
    border: none;
    background-color: #dedfe1;
    border-radius: 2px;
    outline: none;
}

nav button {
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #848687;
}

nav button:hover {
    color: #585757;
}

.favMeal Img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0 0 10px 3px rgb(243, 218, 218);
    transition: all .2s ease-in-out;
}

.favMeal:hover Img {
    transform: scale(1.1);
}


.favMealContainer {
    text-align: center;
    background-color: rgb(255, 166, 0);
    padding: 1rem 0;
    
}

.favMeals {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    overflow: auto;
    
}

.favMeal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
    position: relative;
}

.favMeal button {
    position: absolute;
    background: transparent;
    border: none;
    top: -.5rem;
    right: -.5rem;
    font-size: 1.2rem;
    opacity: 0;
    cursor: pointer;
}

.favMeal:hover button {
    opacity: 1;
}

.favMealHead {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.favMeal span {
    padding: .35rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
}

.favMeal:hover span {
    white-space: normal;
    overflow: auto;
}

.new {
    background-color: rgba(255, 255, 255, 0.471);
}

.meals {
    /* margin: 1.2rem; */
    /* box-shadow: 0 0 10px 2px rgb(144, 141, 141); */
    /* border-radius: 4px; */
    /* overflow: hidden; */
    /* transition: all .2s ease-in-out; */
}


.newMealHeader {
    position: relative;
    
}

.meal {
    /* border: 2px solid red; */
    border-radius: .5rem;
    box-shadow: 0 0 10px 2px rgb(144, 141, 141);
    margin: 1.5rem ;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.meal:hover {
    transform: scale(1.02);
}

.newMealHeader .new {
    position: absolute;
    top: 10px;
    background-color: #fff;
    padding: 0.25rem 0.8rem;
    border-radius: 0 5px 5px 0;
    
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.favourite {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.favourite button {
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: #c8c4c4;
}

.favourite button:hover {
    color: #959292;
}

.popupContainer {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popupContainer.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}

.popup .closePopup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
}

.mealInfo h1 {
    text-align: center;
}