* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(94, 90, 213), rgb(225, 94, 94));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255, .8);
}

.calculator-grid button:hover {
    background-color: rgb(255, 255, 255, 1);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    opacity: .7;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: .6rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgb(255, 255, 255, .8);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}