@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#form {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.searchBar {
    position: relative;
}

.searchBar i {
    position: absolute;
    left: 15px;
    top: 10px;
    color: rgba(96, 95, 95, 0.859);
}

input {
    width: 300px;
    padding: .6rem 2.7rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
}

#main {
    background: linear-gradient(to right, #4d1f8d, #2c0a5d);
    padding: 2rem 0;
    width: 700px;
    border-radius: 13px;
    color: white;
    
}

#main .card {
    display: flex;
    justify-content: space-evenly;
}

img {
    border-radius: 50%;
    width: 9rem;
    border: 13px solid #302b63;
}

.card .profileContent{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profileContent p {
    color: rgba(214, 211, 211, 0.686);
    font-size: .9rem;
    padding-top: .3rem;
    
}

.profileContent ul {
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 2rem 0;
}

ul li {
    padding-right: 2rem;
}

ul li span {
    font-weight: 700;
    padding-left: .4rem;
}

.repos .head {
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.repo {
    color: white;
    text-decoration: #24204a;
    background-color: #24204a;
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.5rem;  
    transition: text-decoration .4s ease-in-out;
    
}

.repo:hover {
    text-decoration: underline;
}

@media (max-width: 450px) {
    #main {
        width: 300px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #form {
        margin-bottom: 2rem;
    }

    #form input {
        width: 250px;
        font-size: .8rem;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .profileContent ul {
        justify-content: space-around;
    }

    .profileContent h2 {
        text-align: center;
    }
    .profileContent p {
        width: 250px;
        align-self:center;
    }

    ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: .5rem;
    }

    .repos {
        margin-left: -2.9rem;
        width: 250px;
    }

}
